@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.nav {
    display: flex;


    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

.logo {
    cursor: pointer;
    
    padding-left: 375px;
    padding-top: 20px;
}


.nav_links {
    font-size: 13px;

    padding-left: 202px;
    padding-top: 42px;
 
 
}
.nav_links a {
    text-decoration: none;
    color: #636363;

}
.nav_links a:hover {
    color: #00BA59;
}
.nav_links li {
    display: inline-block;

    margin-right: 60px;
    
    
}

.phonenumber {
    text-align: right;

    padding-left: 247px;
    padding-top: 23px;
}
.number {
    font-size: 20px;

}
.callback {
    font-size: 13px;

    color: #00BA89;

    border-bottom: 2px solid #00BA89;
    
    cursor: pointer;

    text-decoration: none;
}
.SuperMarket {
    position: relative;
    z-index: 2px;


}
.SuperMarketText {
    position: absolute;

    top: 100px;
    left: 350px;
}
.SuperMarketOnBackGround {
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;

    color: #00BA89;

}
.NaturallySimple {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;

    color: #373737;
}
.Cookie {
    display: flex;
    align-items: center;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
.CookieText {
    margin-left: 43px;
}

.CookieName {
    font-weight: 700;
    font-style: normal;
    font-size: 22px;

    color: #373737;
}
.CookieList {

    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}