@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.nav {
    display: flex;


    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

.logo {
    cursor: pointer;
    
    padding-left: 375px;
    padding-top: 20px;

    margin-bottom: 21px;
}


.nav_links {
    font-size: 13px;

    padding-left: 202px;
    padding-top: 42px;
 
 
}
.nav_links a {
    position: relative;

    text-decoration: none;
    color: #636363;

}
.nav_links a:hover {
    color: #00BA59;
}
.nav_links li {
    display: inline-block;

    margin-right: 60px;
    
    
}
.nav_links a::before {
    position: absolute;

    content: '';
    top: -42px;
    left: 50%;
    transform: translateX(-50%);

    transition: opacity 0.3s;
    opacity: 0;

    border: 40px solid transparent;
    border-top: 15px solid #00BA59 ;

}
.nav_links a::after {
    position: absolute;

    content: '';
    bottom: -46px;
    left: 50%;
    transform: translateX(-50%);

    transition: opacity 0.3s;
    opacity: 0;

    border: 40px solid transparent;
    border-bottom: 15px solid #00BA59 ;

}
.nav_links a:hover::before,
.nav_links a:hover::after {
    opacity: 1;
}
.phonenumber {
    text-align: right;

    padding-left: 247px;
    padding-top: 23px;
}
.number {
    font-size: 20px;

}
.callback {
    font-size: 13px;

    color: #00BA89;

    border-bottom: 2px solid #00BA89;
    
    cursor: pointer;

    text-decoration: none;
}
.SuperMarket {
    position: relative;
    z-index: 2px;


}
.SuperMarketText {
    position: absolute;

    top: 100px;
    left: 350px;
}
.SuperMarketOnBackGround {
    width: 100%;
    height: 100%;
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;

    color: #00BA89;

}
.NaturallySimple {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;

    color: #373737;
}
.Cookie {
    position: absolute;
    display: flex;
    align-items: center;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

    top: 278px;
    left: 350px;
}
.CookieText {
    margin-left: 43px;
}

.CookieName {
    font-weight: 700;
    font-style: normal;
    font-size: 22px;

}
.CookieList {
    color: #636363;

    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}
.CookieList li::marker {
    color: #C4C4C4;

}
.Banan {
    position: absolute;
    display: flex;
    align-items: center;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

    top: 438px;
    left: 350px;
}
.BananText {
    margin-left: 43px;
}

.BananName {
    font-weight: 700;
    font-style: normal;
    font-size: 22px;

}
.BananList {
    color: #636363;

    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}
.BananList li::marker {
    color: #C4C4C4;

}
.ReadMore {
    position: absolute;
    
    padding: 28px 75px 28px 75px;

    border-radius: 100px;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;

    outline: none;
    border: 0px;
    box-shadow: 0px 10px 10px rgba(0, 186, 93, 1);

    color: #FFFFFF;

    background: linear-gradient( #00BA89, #00BA5D, #00BA34);

    top: 618px;
    left: 350px;

}
.about__company__main{
    position: relative;
    width: 1341px;
    height: 816px;

}
.flower__png {

    margin-left: 12.75rem;
    margin-top: 3.75rem;


}
.about {
    position: absolute;



    width: 54.375rem;
    height: 40.4375rem;

    border: .625rem solid #F7F7F7;
    border-radius: 1.25rem;

    top: 9rem;
    left: 42.1875rem;

    background-color: #FFFFFF;
}
.about__tittle {

    font-size: 1.875rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;


}
.about__content {
    
    display: flex;
    flex-direction: column;

    margin-left: 18.75rem;
    margin-top: 3.125rem;

}
.wave {
    width: 16.875rem;
    height: .75rem;

    margin-top: .625rem;

}
.about__text {
    display: flex;
    flex-direction: column;

    gap: 2.5rem;

    margin-top: 1.8125rem;

}
.about__text p {

    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    color: #636363;

}
.video {
    position: absolute;

    transform: translate(50%, 50%);

    top: -8.25rem;
    left: -40.25rem;
}
.services {
    position: relative;

    padding-top: 3.75rem;

}
.services__background {
    display: inline-block;
    z-index: -2 ;
}
.container {
    width: 73.125rem;
    
    margin: 0 auto ; 
}

.container__services {
    position: absolute;

    top: 6.25rem;
}
.services__tittle {
    display: flex;
    flex-direction: column;

    align-items: center;

    height: 2.8125rem;
    width: 73.125rem;
}
.services__wave {
    margin-top: .625rem;

    width: 16.875rem;
    height: .75rem;

}
.services__tittle p {
    
    color: #373737;

    font-size: 1.875rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.services__cards {
    display: flex;
    position: absolute;
    justify-content: space-around;

    width: 73.125rem;


    top: 12.9375rem;

}
.services__first__card {
    
    width: 23.125rem;

    background-color: #FFFFFF;
    
    border-radius: .625rem;

    box-shadow: 0rem .375rem .625rem rgba(99, 99, 99, 0.3);
}
.first__card__text {
    display: flex;
    flex-direction: column;

    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;


    padding-bottom: 1.875rem;

    margin-top: 1.9375rem;
    margin-left: 1.875rem;

    gap: .9375rem;



}
.first__card__text li::marker {

    color: #00BA89;

}
.services__second__card {
    padding: 1.875rem 1.875rem 0 1.875rem;


    background-color: #FFFFFF;
    
    border-radius: .625rem;

    box-shadow: 0rem .375rem .625rem rgba(99, 99, 99, 0.3);
}
.second__card__text {

    display: flex;
    flex-direction: column;

    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;


    padding-bottom: 1.875rem;

    margin-top: 1.9375rem;
    margin-left: 1.875rem;

    gap: .9375rem;
}
.second__card__text li::marker {
    color: #C4C4C4;

}